<!-- <div class="jumbotron">
  <div class="container">
    <h1>{{ title }}</h1>
  </div>
</div> -->
<nav class="navbar navbar-default navbar-static-top mb-4">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="assets/img/logo.png" class="logo d-inline-block align-top"/>BREACH</a>
    </div>
  </nav>
<div class="container chart-container">

  <div class="row flex-column-reverse flex-md-row">
      <div class="col-md-3 hidden-md-down left-side">
          <breach-formulae></breach-formulae>
        </div>
      <div class="col-md-9">
          <breach-chart></breach-chart>
      </div>
  </div>
</div>