/* You can add global styles to this file, and also import other style files */
.navbar-default {
    background: linear-gradient(135deg, darkgray, black);
}

.navbar-default .navbar-brand {
    color: white;
}

/* .navbar-static-top {
    margin-bottom: 45px;
} */

/* .navbar-brand {
    float: left;
    height: 50px;
    font-size: 32px;
    margin-left: -15px;
}

nav {
    margin-bottom: 25px;
}

nav div{
    margin-bottom: 25px;
}
*/
.logo {
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.mb-3 {
    padding: 15px;
}

@media (max-width: 1199px) {
    .breach-chart {
        height: 500px;
    }
    .mr-4 {
        font-size: .7em
    }
}

@media (min-width: 1200px) {
    .breach-chart {
        height: 70vh;
    }

    .chart-container
    {
        max-width: unset !important;
    }

    .container 
    {
        max-width: unset !important;
    }
    .right-side {
        margin-right: 25px;
    }
}


/* primary button */
.btn-calculate {
    background-color: #006622;
    border-color: #006622;
    color: #ffffff;
  }
  .btn-calculate:hover,
  .btn-calculate:focus,
  .btn-calculate:active,
  .btn-calculate.active {
    background-color: #009933;
    border-color: #009933;
  }
  .btn-calculate.disabled:hover,
  .btn-calculate.disabled:focus,
  .btn-calculate.disabled:active,
  .btn-calculate.disabled.active,
  .btn-calculate[disabled]:hover,
  .btn-calculate[disabled]:focus,
  .btn-calculate[disabled]:active,
  .btn-calculate[disabled].active,
  fieldset[disabled] .btn-calculate:hover,
  fieldset[disabled] .btn-calculate:focus,
  fieldset[disabled] .btn-calculate:active,
  fieldset[disabled] .btn-calculate.active {
    background-color: #009933;
    border-color: #009933;
  }
  
  button,.btn:focus,.btn:active {
    outline: 0 !important;
 }

 /* unvisited link */
a:link {
    color: #006622;
}

/* visited link */
a:visited {
    color: green;
}

/* mouse over link */
a:hover {
    color: #009933;
}

/* selected link */
a:active {
    color: blue;
}

.listFormulaName {
    font-size: 1em;
}
.listFormulaValue {
    font-size: .7em;
    text-indent: 10px;
    margin-bottom: 5px;
}

li {
    line-height: 15px;
}
.card-body {
    padding: .5rem !important;
}

.row {
    margin-right: unset !important;
    margin-left: unset !important;
}