/* You can add global styles to this file, and also import other style files */
.navbar-default {
    background: linear-gradient(135deg,black, darkgray);
}

.navbar-default .navbar-brand {
    color: white;
}

.navbar-static-top {
    margin-bottom: 45px;
}

.navbar-brand {
    float: left;
    height: 50px;
    font-size: 32px;
    margin-left: -15px;
}

.breach-chart {
    height: 500px;
}

nav {
    margin-bottom: 25px;
}

nav div{
    margin-bottom: 25px;
}